<template>
  <div class="main-content">
    <my-window @closeWindow="$store.commit('list/setShowWindow',$event)">
      <h2 class="info-task_left-area_h2"> Создание категории </h2>

      <div class="right-area_new-task">
        <div class="new-task_input-text">
          <my-input
              :required="true"
              :minLength="5"
              @errorCheck="errorForm = $event"
              :placeholder="'Название категории'" v-model="newCategory.nameCategory"/>
        </div>
      </div>

      <div class="right-area_new-task">
        <div class="new-task_input-text">
          <my-input
              :required="true"
              :minLength="10"
              @errorCheck="errorForm = $event"
              :placeholder="'Краткое описание'" v-model="newCategory.descriptionCategory"/>
        </div>
      </div>

      <div class="right-area_new-task">
        <div class="new-task_input-text">
          <div class="select-sim" id="select-color">
            <div class="options">
              <div class="option active-option-select">
                  <img class="selector-img" :src="$getUrl(newCategory.iconCategory)" alt=""> {{newCategory.iconCategory}}
              </div>
              <div class="option"
                   v-bind:class="{'active-option': (newCategory.iconCategory === icon)}"
                   v-for="icon in iconImg"
                   :key="icon + Math.random()"
                   @click="newCategory.iconCategory = icon">
                  <img class="selector-img" :src="$getUrl(icon)" :alt="icon"> {{ icon }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="info-task_left-area_h2"> Добавьте первое задание </h2>

      <div class="right-area_new-task mb-45">
        <div class="new-task_input-text">
          <my-input
              :required="true"
              :minLength="8"
              @errorCheck="errorForm = $event"
              :placeholder="'Первое задание'" v-model="newCategory.taskCategory[0].textTask"/>
        </div>
      </div>

      <button
          :class="{'btn-error': errorForm}"
          :disabled="errorForm"
          class="btn-success"
          @click="addCategory">Вперед!</button>
    </my-window>
    <list-category
        :dataList="filterTodo"
        @filterCategory="stringSearch=$event"
        @newActiveIndex="indexActiveElem=$event"/>
    <list-task
        :dataList="filterTodo[indexActiveElem]"
        :indexActiveElem="indexActiveElem"
        @deleteCategory="deleteCategory($event)"/>
  </div>
</template>

<script>

import ListCategory from '@/components/ListCategory.vue';
import ListTask from '@/components/ListTask.vue';
import iconSite from '@/modules/iconImg.js';

export default {
  name: 'MainControllerList',
  components: {
    ListCategory,
    ListTask,
  },
  data: function () {
    return {
      dataList: [
        {
          idCategory: 0,
          iconCategory: 'diamond-3914401.png',
          nameCategory: 'Сегодня',
          descriptionCategory: 'В данном чек-листе, представлен список дел на сегодня.',
          taskCategory: [
            {
              statusTask: false,
              textTask: 'Купить пакет молока'
            },
            {
              statusTask: false,
              textTask: 'Помыть посуду'
            },
            {
              statusTask: true,
              textTask: 'Изучить технологию'
            }
          ]
        },
        {
          idCategory: 1,
          iconCategory: 'basketball-3914134.png',
          nameCategory: 'Школа',
          descriptionCategory: 'Дела по школе',
          taskCategory: [
            {
              statusTask: false,
              textTask: 'Заточить карандаш'
            },
            {
              statusTask: true,
              textTask: 'Помыть доску'
            }
          ]
        },
        {
          idCategory: 2,
          nameCategory: 'Прогулка в парке',
          iconCategory: 'headphones-3917604.png',
          descriptionCategory: 'Отдых в парке',
          taskCategory: [
            {
              statusTask: true,
              textTask: 'Покормить голубей'
            },
            {
              statusTask: false,
              textTask: 'Смотреть на фонтан'
            },
            {
              statusTask: true,
              textTask: 'Слушать пение птиц'
            }
          ]
        }
      ],
      errorForm: true,
      indexActiveElem: 0,
      stringSearch: '',
      stateWindows: this.$store.state.list.showWindows,
      newCategory: {
        idCategory: Math.random() + Math.random(),
        nameCategory: '',
        descriptionCategory: '',
        iconCategory: 'diamond-3914401.png',
        taskCategory: [
          {
            statusTask: false,
            textTask: ''
          },
        ]
      },
    }
  },
  methods:{
    addCategory(){
      let errorBlock = document.querySelectorAll('.error-text');
      if(errorBlock.length || !this.newCategory.nameCategory || !this.newCategory.descriptionCategory ||
        !this.newCategory.taskCategory[0].textTask) {
          this.errorForm = true;
          let btnSuccess = document.querySelector('.btn-success');
          btnSuccess.classList.add('btn-error');
      } else {
          this.errorForm = false;
          this.$store.commit('list/setShowWindow',false);
          this.dataList.push(JSON.parse(JSON.stringify(this.newCategory)));
          this.newCategory = {
            idCategory: Math.random() + Math.random(),
            nameCategory: '',
            descriptionCategory: '',
            iconCategory: 'diamond-3914401.png',
            taskCategory: [
              {
                statusTask: false,
                textTask: ''
              },
            ]
          };
      }
    },
    deleteCategory(event) {
      this.dataList.splice(event,1);
      this.indexActiveElem = 0;
    }
  },
  computed: {
    filterTodo: function () {
      return this.dataList.filter(itemList => itemList.nameCategory.toLowerCase()
          .includes(this.stringSearch.toLowerCase()) || itemList.descriptionCategory.toLowerCase().includes(this.stringSearch.toLowerCase()));
    },
    iconImg: function () {
      return iconSite;
    },
  },
  mounted() {
  }
}
</script>

<style scoped>
.main-content {
  width: 100%;
  display: flex;
}

.mb-45 {
  margin-bottom: 45px;
}

.btn-error {
  background: #EEEEEE !important;
}

/deep/ .new-task_button-add {
  padding: 0 10px;
}

/deep/.btn-add {
  width: 24px;
  height: 24px;
  background-color: #000;
  cursor: pointer;
  -webkit-mask-image: url(../assets/img/plus.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  opacity: .4;
  transition: opacity .2s;
}

/deep/ .btn-add:hover {
  opacity: 1;
}

/deep/.icon-animate {
  opacity: .5;
  transition: opacity .2s;
}

/deep/.icon-animate:hover {
  opacity: 1;
}


/deep/ .input-new-task {
  width: 99%;
  padding: 2px 0;
  background: none;
  margin-right: 5px;
  border: 1px solid transparent;
}

/deep/ .input-new-task:focus {
  outline: none;
}

.right-area_new-task {
  width: 100%;
  height: 40px;
  background: #F3F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.new-task_input-text {
  width: 98%;
  margin: 0 auto;
}

.info-task_left-area_h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn-success {
  display: flex;
  padding: 16px 50px;
  border-radius: 4px;
  background: #72F2A5;
  color: white;
  outline: none;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

/*select*/

.select-sim {
  width: 100%;
  height: 25px;
  line-height: 31px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.select-sim::after {
  content:"▼";
  font-size:0.5em;
  position:absolute;
  top:50%;
  right:5px;
  transform:translate(0, -50%);
}

.select-sim:hover::after {
  content:"";
}

.select-sim:hover {
  overflow:visible;
}

.select-sim:hover .options .option label {
  display:flex;
  align-items: center;
}

.select-sim:hover .options {
  background:white;
  border:1px solid #ccc;
  position:absolute;
  top:-1px;
  left:-1px;
  width:100%;
  height:150px;
  overflow-y:scroll;
  padding: 10px;
  border-radius: 4px;
}

.select-sim .options .option ,.select-sim .option label{
  cursor: pointer;
  overflow:hidden;
  display: flex;
  align-items: center;
}

.select-sim .options .option{
  border-radius: 4px;
  padding: 0px 5px;
  transition: background .2s;
}

.select-sim .options .option:hover{
  background: #F3F2F2;
}

.active-option {
  background: #F3F2F2;
}

.active-option-select {
  background: #72F2A5;
}

.select-sim .options .option {
  margin-bottom: 10px;
}

.select-sim .option label img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.selector-img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.select-sim .options .option input {
  margin-right: 10px;
}

.select-sim:hover .options .option {
  height:22px;
  overflow:hidden;
  display: flex;
  align-items: center;
}


/*select*/
</style>
