<template>
  <div class="left-area">
    <div class="filter-category">
      <div class="filter-category_input">
        <div class="icon-animate filter-category_input_icon">
        </div>
        <my-input
            class="wd-100"
            :placeholder="'Введите название/описание'"
            @input="$emit('filterCategory',$event)"/>
      </div>
    </div>
    <div class="list-category">
      <div class="list-category_item"
      v-for="(item,index) in dataList"
      v-bind:key="item.idCategory">
        <div class="list-category_item_left">
          <div class="list-category_item_icon">
            <div class="list-category_item_icon-card">
              <img :src="$getUrl(item.iconCategory)" :alt="item.iconCategory">
            </div>
          </div>
          <div class="list-category_item_text"
          @click="$emit('newActiveIndex',index)">
            {{ item.nameCategory }}
          </div>
        </div>
        <div class="list-category_item_length">{{item.taskCategory.length}}</div>
      </div>
    </div>
    <div
        class="add-list"
    @click="$store.commit('list/setShowWindow',true)">
      <div class="new-task_button-add">
        <div class="btn-add"></div>
      </div>
      Добавить категорию
    </div>
  </div>
</template>

<script>
export default {
  name: 'ListCategory',
  props: {
    dataList: {
      type: Array,
    },
    indexActiveElem:{
      type:Number,
    },
  },
}
</script>

<style scoped>
.left-area {
  width: 30%;
  height: 100vh;
  background-color: #EEEEEE;
  padding: 35px 45px 0 45px;
}

.wd-100 {
  width: 100%;
}

/* left area  */

.filter-category {
  display: flex;
  margin-bottom: 45px;
}

.filter-category_input_icon {
  width: 24px;
  height: 24px;
  background-color: #000;
  cursor: pointer;
  -webkit-mask-image: url(../assets/img/search.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  opacity: .5;
}

.filter-category_input {
  display: flex;
  padding: 7px;
  background-color: white;
  border-radius: 4px;
  margin-right: 15px;
  width: 100%;
}

.filter-category_input_icon{
  margin-right: 10px;
}

.filter-category_btn {
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.filter-category_icon {
  width: 24px;
  height: 24px;
  background-color: #000;
  cursor: pointer;
  -webkit-mask-image: url(../assets/img/filter_list_alt.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  padding: 8px;
  border-radius: 4px;
}

.list-category_item_text {
  font-size: 24px;
}

.list-category_item_text:hover {
  text-decoration: underline;
}

.list-category_item_icon {
  margin-right: 15px;
}

.list-category {
  margin-bottom: 30px;
}

.list-category_item_icon-card img{
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-items: center;
  display: flex;
  border-radius: 4px;
}

.list-category_item_length {
  font-size: 16px;
  margin-right: 15px;
}

.list-category_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
}

.list-category_item_left {
  display: flex;
  align-items: center;
}

.add-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  padding: 15px;
  transition: background-color .2s;
}

.add-list .new-task_button-add {
  padding-left: 0;
}

.add-list:hover {
  background-color: white;
  border-radius: 4px;
}

/* left area  */
</style>
