<template>
  <div v-if="dataList" class="right-area">
    <div class="right-area_info-task">
    <div class="info-task_left-area">
      <input class="text-task_input info-task_left-area_date"
             type="text"
             v-model="dataList.nameCategory"
             placeholder="Введите название категории">
      <input class="text-task_input info-task_left-area_description"
             type="text"
             v-model="dataList.descriptionCategory"
             placeholder="Введите описание категории">
    </div>
    <div class="info-task_right-area">
      <div class="img_delete mask-info-task" @click="$emit('deleteCategory',indexActiveElem)"></div>
    </div>
  </div>
    <div class="right-area_new-task">
    <div class="new-task_button-add">
      <div class="btn-add" @click="addNewTask"></div>
    </div>
    <div class="new-task_input-text">
      <my-input
          @enterKey="addNewTask"
          :placeholder="'Добавить новое задание'" v-model="textNewTask"/>
    </div>
  </div>
    <div class="right-area_list-task">
      <div class="list-task_item"
         v-for="(task,index) in dataList.taskCategory"
         v-bind:key="task.nameCategory">
        <div class="list_task_item-left">
          <div class="list-task_status-work">
            <input type="checkbox"
                   v-model="task.statusTask"
                   :checked="task.statusTask">
          </div>
          <div class="list-task_text-task">
            <my-input
                :required="true"
                :minLength="8"
                :lineThrough="task.statusTask"
                :placeholder="'Название задачи'"
                v-model="task.textTask"/>
          </div>
        </div>
        <div class="list_task_item-right">
          <div class="list-task_delete-task">
            <div class="img_delete delete-task_btn" @click="dataList.taskCategory.splice(index,1)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else  class="right-area">Данных нет</div>
</template>

<script>

export default {
  name: 'ListTask',
  props: {
    dataList: {
      type: Object,
    },
    indexActiveElem:{
      type:Number,
    },
  },
  data: function() {
    return {
      textNewTask:'',
    }
  },
  methods:{
    addNewTask(){
      if( this.textNewTask.length ) {
        this.dataList.taskCategory.push({
          statusTask:false,
          textTask:this.textNewTask
        });
        this.textNewTask = '';
      }
    },
  },
}
</script>

<style scoped>
.right-area {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 35px 45px 0 45px;
}

.right-area_info-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.list-task_text-task, .text-task_input {
  width: 100%;
}

.text-task_input {
  border: 0;
  outline: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.info-task_left-area_date {
  font-family: "FuturaMedium";
  font-size: 36px ;
  margin-bottom: 10px;
}

/*/deep/.input-new-task{*/
/deep/.td-lh{
  text-decoration: line-through;
}

.info-task_left-area_description {
  font-size: 18px;
  color: #C4C4C4;
}

.info-task_right-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* new-task */

.right-area_new-task {
  width: 100%;
  height: 40px;
  background: #F3F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.new-task_input-text {
  width: 100%;
}

/* new-task */

/*List item*/
.list-task_item {
  width: 100%;
  height: 60px;
  padding: 10px 0 10px 20px;
  display: flex;
  align-items: center;
  border-bottom:1px solid #C4C4C4;
  justify-content: space-between;
}

.list-task_item:hover .delete-task_btn {
  opacity: 1;
}

.list_task_item-left {
  display: flex;
  align-items: center;
  width: 95%;
}

.list-task_text-task, .text-task_input {
  width: 100%;
}

.delete-task_btn {
  opacity: 0;
  /*opacity: 0;*/
}



.list-task_item {
  width: 100%;
  height: 60px;
  padding: 10px 0 10px 20px;
  display: flex;
  align-items: center;
  border-bottom:1px solid #C4C4C4;
  justify-content: space-between;
}

.list-task_item:hover .delete-task_btn {
  opacity: 1;
}

.list-task_status-work {
  margin-right: 15px;
}

.text-task_input {
  border: 0;
  outline: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}
/*List item*/
</style>
