<template>
  <div id="app">
    <main-controller-list />
  </div>
</template>

<script>
import MainControllerList from './pages/MainControllerList.vue'

export default {
  name: 'App',
  components: {
    MainControllerList
  }
}
</script>

<style>

@font-face {
  font-family: "FuturaBook";
  src: url("./assets/fonts/FuturaBookC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FuturaMedium";
  src: url("./assets/fonts/FuturaMediumC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FuturaBook";
  font-size: 18px;
}

.img_delete {
  width: 24px;
  height: 24px;
  background-color: #000;
  cursor: pointer;
  transition: opacity .2s;
  -webkit-mask-image: url(./assets/img/trash_full.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.mask-info-task {
  opacity: .4;
  transition: opacity .2s;
}

.mask-info-task:hover {
  opacity: 1;
}
</style>
