<template>
  <div>
    <input
        class="input-new-task"
        :class="{'error-input':errorStatus,'td-th': lineThrough}"
        type="text"
        :placeholder="placeholder"
        :value="value"
       @keyup.enter.prevent="$emit('enterKey');"
        @input="fieldEntry($event.target.value.trim())">
    <div v-if="errorStatus" class="error-text">{{ errorText }}</div>
  </div>
</template>

<script>

export default {
  name: 'my-input',
  props: {
    placeholder:{
      type:String,
      default:'Введите текст',
    },
    lineThrough:{
      type:Boolean,
      default:false,
    },
    value:String,
    required:{
      type:Boolean,
      default: false,
    },
    minLength:{
      type:Number,
      default: 0,
    },
  },
  data: function() {
    return {
      errorStatus:false,
      errorText:'Ошибка',
    }
  },
  methods:{
    fieldEntry(event){
      this.$emit('input',event);
      let errorEvent = this.$checkEntity(event,this.required,this.minLength);
      if(errorEvent.errorInput) {
        this.errorText = errorEvent.textError;
        this.$emit('errorCheck',errorEvent.errorInput);
        return this.errorStatus = true;
      }
      this.$emit('errorCheck',errorEvent.errorInput);
      return this.errorStatus = false;
    },
  },
}
</script>

<style scoped>
/deep/ .input-new-task {
  width: 99%;
  padding: 2px 0;
  background: none;
  margin-right: 5px;
  border: 1px solid transparent;
}

.td-th {
  text-decoration: line-through;
}

.error-input {
  outline: 1px solid red;
}

.error-text {
  border-radius: 4px;
  position: absolute;
  margin-left: 9px;
  padding: 0 5px;
  color: white;
  background: crimson;
}

/deep/ .input-new-task:focus {
  outline: none;
  /*border-bottom: 1px solid rgb(0 0 0 / 39%);*/
}

.input-new-task {
  width: 98%;
  margin-left: 10px;
}



</style>
