<template>
  <div class="windows-info" v-if="$store.state.list.showWindows" @click="closeWindow">
    <div @click.stop class="main-windows">
      <div class="icon-animate close-windows"
           @click="closeWindow"></div>
      <div class="main-windows_content">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'my-window',
  props: {
    show:{
      type:Boolean,
      default:false,
    }
  },
  data: function() {
    return {
      textNewTask:'',
    }
  },
  methods:{
    closeWindow(){
      this.$emit('closeWindow', false);
    },
  },
}
</script>

<style scoped>
.windows-info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 2;
}

.main-windows {
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.close-windows {
  width: 24px;
  height: 24px;
  background-color: #000;
  cursor: pointer;
  -webkit-mask-image: url(../../assets/img/close.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  padding: 8px;
  position: absolute;
  border-radius: 4px;
  right: 50px;
}

/* delete */

.main-windows_content {
  width: 700px;
}
/* delete */
</style>
